.home-content {
  display: block !important;
  height: auto;
  max-width: 1920px !important;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

.slideshow-container.mobile {
  display: none;
}

.image {
  width: 100%;
}

.prev,
.next {
  position: absolute;

  cursor: pointer;
  user-select: none;

  top: 50%;
  width: auto;

  margin-top: -22px;
  padding: 16px;

  color: var(--cor-fundo);
  font-size: 60px;
  font-weight: bold;

  transition: 0.6s ease;

  border-radius: 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dots-wrapper {
  text-align: center;
}

.dot {
  cursor: pointer;

  height: 15px;
  width: 15px;
  margin: 0 2px;

  display: inline-block;

  background-color: var(--cor-titulo) 30;
  transition: background-color 0.6s ease;

  border-radius: 50%;
}

.active,
.dot:hover {
  background-color: var(--cor-titulo);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.text-wrapper {
  display: flex;
  flex-direction: column;

  text-align: left;

  gap: 24px;

  padding: 16px;
}

.subtitle {
  font-size: 40px;
  color: var(--cor-titulo);
}

.description {
  font-size: 20px;
}

.tasks-wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-items: center;
  justify-content: center;

  padding: 0 20px;

  width: 100%;

  gap: 40px;

  background: var(--cor-fundo);
}

.see-more-button {
  display: flex;
  justify-content: center;

  margin: 40px 0;

  width: 100%;
  height: 54px;
}

.more-button-wrapper {
  display: flex;

  height: 100%;

  padding: 24px;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  border: 1px solid var(--cor-texto);

  background-color: transparent;

  font-weight: 700;
}

.more-button {
  color: var(--cor-texto);

  padding: 8px;

  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.profile-image-card-container {
  height: 70px;
  max-width: 80px;

  overflow: hidden;

  border-radius: 50%;
}

.profile-image-card-container > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;
}

.bottomContent {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 32px;

  align-items: center;

  margin-bottom: 40px;

  background-color: var(--cor-fundo-conteudo);
}

.bottom-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-align: left;

  height: 100%;
}

.bottomTitle {
  font-size: 40px;
  color: var(--cor-titulo);
}

.bottomText {
  width: 90%;

  font-size: 20px;
  text-align: justify;
}

.imageBottom {
  max-width: 80%;
  margin-left: 10%;
  border-radius: 16px;
}

.buttonBottom {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 120px;
  height: 48px;

  border-radius: 5px;

  color: var(--cor-fundo);
  background: var(--cor-titulo);

  text-decoration: none;
  font-weight: 700;
}

.start-button {
  display: flex;
  justify-content: flex-end;

  width: 90%;
}

.bottom-button-text {
  padding: 8px;

  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--cor-fundo);
}

.modal {
  width: 100%;
  height: 100%;

  display: none;
  position: fixed;
  z-index: 9;

  overflow: auto;
}

.modal-wrapper {
  padding: 20px;

  background-color: var(--cor-fundo);
  border: 2px solid var(--cor-borda);

  min-height: 540px;
  max-width: 460px;

  margin: 6% auto;
  border-radius: 16px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 2px solid var(--cor-borda);
}

.close {
  color: var(--cor-borda);

  font-size: 40px;
  font-weight: 700;

  cursor: pointer;
}

.image-modal {
  width: 40px;
  height: 40px;
}

.modal-title {
  font-weight: 700;
  color: var(--cor-borda);
}

.modal-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 16px;
}

.job-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--cor-titulo);
}

.text,
.text-title,
.city,
.address {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: var(--cor-texto);
  overflow-wrap: break-word;
}

.NGO {
  font-size: 20px;
  font-weight: 700;
  text-align: justify;
  color: var(--cor-titulo);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;

  gap: 16px;
}

@media screen and (max-width: 768px) {
  .content {
    border-radius: 0px;
    align-items: start;
    height: auto;
  }

  .prev,
  .next {
    font-size: 30px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }

  .subtitle {
    font-size: 32px;
    color: var(--cor-titulo);
  }

  .description {
    width: 100%;
    font-size: 20px;
  }

  .tasks-wrapper {
    padding: 0 16px;
  }

  vertical-task-card-component {
    display: none;
  }

  .see-more-button {
    margin: 24px 0;
  }

  .bottomContent {
    grid-template-columns: 1fr;
    padding: 35px;

    margin: 0px;
  }

  .bottom-wrapper {
    height: 100%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottomTitle {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .bottomText {
    width: 90%;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
  }

  .imageBottom {
    border-radius: 16px;
    max-width: 100%;
    margin: 10% 0%;
  }

  .slideshow-container.mobile {
    display: block;
  }

  .slideshow-container.web {
    display: none;
  }

  .modal-wrapper {
    padding: 20px;

    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-borda);

    width: 80%;
    min-height: 640px;
    max-width: 540px;

    margin: 6% auto;
    border-radius: 16px;
  }

  .text {
    margin: 0;
  }
}

@media screen and (max-width: 535px) {
  .subtitle,
  .bottomTitle {
    font-size: 24px;
    color: var(--cor-titulo);
  }

  .description,
  .bottomText {
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .modal-header {
    padding: 0px;
  }
}
