.content {
  background-color: var(--cor-fundo-conteudo);
}

.section-wrapper {
  display: flex;
  flex-direction: column;

  width: 30%;

  gap: 32px;

  margin-bottom: 40px;
}

.row {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.title {
  margin-top: 20px;

  font-size: 40px;
  text-align: center;
  color: var(--cor-titulo);
}

input[type="text"],
input[type="password"] {
  width: 100%;

  border: 0;
  border-bottom: 2px solid var(--cor-texto);

  font-size: 20px;
  color: var(--cor-borda);

  background-color: transparent;
}

input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
}

input[type="submit"] {
  width: 100%;
  height: 56px;

  cursor: pointer;

  border-radius: 8px;

  font-size: 20px;
  font-weight: 700;
  color: var(--cor-fundo-conteudo);
  background-color: var(--cor-titulo);
}

.options-div {
  display: flex;
  justify-content: space-around;

  gap: 32px;
}

.options-div a {
  text-decoration: none;

  color: var(--cor-link1);

  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.remember-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 8px;
}

.checkbox-container,
.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}

label[for="login-info"],
label[for="tipo-usuario"] {
  font-size: 20px;
  font-weight: 500;

  display: inline-block;

  color: var(--cor-texto);
}

label[for="tipo-usuario"] {
  margin: 0;
}

input[type="checkbox"],
input[type="radio"] {
  width: 20px;
  height: 20px;

  border: none;
  border-radius: 4px;

  appearance: none;

  background-color: var(--cor-fundo);
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--cor-titulo);
}

@media screen and (max-width: 768px) {
  .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 75%;
    padding: 20px;
    margin-bottom: 40px;
  }

  .options-div {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .checkbox-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #esqueceu-senha {
    margin-left: 0;
    margin-top: 8px;
    align-self: flex-end;
  }
}
