main {
  background-color: var(--cor-titulo);

  display: flex;
  flex-direction: column;

  gap: 40px;
  padding: 40px;
}

.title {
  color: var(--cor-fundo);

  font-size: 40px;
  text-align: center;
}

.content {
  background-color: var(--cor-titulo);

  display: flex;
  flex-direction: row;

  gap: 24px;
}

.image {
  border-radius: 24px;

  transition: transform 0.2s;
  object-fit: cover;

  width: 50vw;
}

.image:hover {
  transform: scale(1.1);
}

.history_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 24px;
}

.history_title {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  color: var(--cor-fundo);
}

.statement {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: var(--cor-fundo);
}

@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
  }

  /* Use nth-child to set the order within each .content section */
  .content:nth-child(odd) .image-content {
    order: 1;
  }
  .content:nth-child(odd) .history_wrapper {
    order: 2;
  }

  .content:nth-child(even) .image-content {
    order: 3;
  }
  .content:nth-child(even) .history_wrapper {
    order: 4;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 80vw;
  }

  .history_title,
  .statement {
    font-size: 16px;

    line-height: 24px;
  }
}
