.content {
  background-color: var(--cor-fundo-conteudo);
}

.section-wrapper {
  display: flex;
  flex-direction: column;

  width: 30vw;

  gap: 32px;

  margin-bottom: 40px;
}

.row {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.title {
  margin-top: 20px;

  font-size: 40px;
  text-align: center;
  color: var(--cor-titulo);
}

/* Estilo dos Inputs de Texto */
input[type="text"],
input[type="text"]:focus,
input[type="password"],
input[type="password"]:focus,
input[type="tel"],
input[type="tel"]:focus,
input[type="email"],
input[type="email"]:focus {
  width: 100%;

  border: 0;
  border-bottom: 2px solid var(--cor-borda);

  font-size: 20px;
  color: var(--cor-borda);

  background-color: transparent;

  outline: none;
}

/* Estilo dos Inputs de Leitura Apenas */
input[name="logradouro"],
input[name="cidade"],
input[name="estado"] {
  width: 100%;

  padding: 12px;
  border-radius: 8px;
  border: 2px solid var(--cor-link1);

  font-size: 20px;
  color: var(--cor-texto);

  background-color: var(--cor-link2);
  cursor: default;
}

/* Botões de Cancelar e Voltar */
input[type="button"][name="cancelar"],
input[type="button"][name="voltar"] {
  color: var(--cor-titulo);
  background-color: var(--cor-fundo);

  border: 2px solid var(--cor-borda);
}

/* Botões de Próximo e Cadastrar */
input[type="button"][name="proximo"],
input[type="button"][name="cadastrar"] {
  color: var(--cor-fundo);
  background-color: var(--cor-titulo);
}

/* Estilo dos Botões de Submit */
input[type="button"] {
  width: 100%;
  height: 56px;

  padding: 12px 20px;

  border: none;
  border-radius: 8px;

  cursor: pointer;

  font-size: 20px;
  font-weight: 600;
}

/* Estilo do Textarea */
textarea {
  width: 100%;
  height: 200px;

  padding: 12px;

  outline: none;
  resize: vertical;

  font-size: 20px;
  color: var(--cor-borda);

  border-radius: 16px;
  border: 2px solid var(--cor-borda);
  background-color: var(--cor-fundo);
}

/* Estilo do Input de Arquivo */
input[type="file"] {
  border: none;
  cursor: pointer;

  color: var(--cor-borda);
  font-size: large;
}

/* Estilo do Label */
label[for="login-info"] {
  font-size: 20px;
  font-weight: 500;

  display: inline-block;

  color: var(--cor-texto);
}

.options-div {
  display: flex;
  justify-content: space-around;

  gap: 32px;
}

@media screen and (max-width: 768px) {
  .section-wrapper {
    gap: 32px;
    width: 60vw;
    padding: 20px;
  }

  .title {
    margin: 0;
  }

  .options-div {
    flex-direction: column;

    gap: 32px;
  }
}

@media screen and (max-width: 425px) {
  .section-wrapper {
    width: 100vw;
  }

  .title {
    font-size: 32px;
    margin: 0;
  }
}
