.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    background-color: #274C77;
    border-radius: 0;
}

.title {
    color: #FFFFFF;
    padding: 16px 24px;
    font-size: 40px;
    text-align: center;
}

.collapsible {
    /* margin-bottom: 2%; */
    color: #716F6F;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
}

.collapsible-content p {
    padding: 8px;
}

.active {
    background-color: #E8ECEF;
    border-radius: 10px 10px 0 0;
}

.collapsible:after {
    content: '\276C';
    rotate: 90deg;
    color: #716F6F;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\276C";
    rotate: 270deg;
}

.collapsible-wrapper {
    margin-bottom: 2%;
    gap: 16px;
}
.collapsible-content {
    max-width: 940px;
}

.collapsible-wrapper > .collapsible-content {
    width: 86.3%;
    margin-bottom: 1%;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #E8ECEF;
    color: #716F6F;
    font-size: 15px;
    /* width: fit-content; */
    border-radius: 0 0 10px 10px;
}

.conteudo {
    margin-top: 2%;
    margin-left: 6%;
}

h1.title {
    margin-top: 2%;
}

.title-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    
    .content {
        align-items: center;
    }

    .collapsible-wrapper > .collapsible-content {
        width: 84.3%;
    }

}

@media screen and (max-width: 520px) {

    .collapsible-wrapper > .collapsible-content {
        width: 82%;
    }

}