.content {
  background-color: var(--cor-titulo);

  gap: 40px;
  padding: 40px;
}

.title {
  font-size: 40px;
  text-align: center;
  color: var(--cor-fundo);
}

.collapsible-body {
  display: flex;
  flex-direction: column;

  width: 70vw;

  gap: 16px;
}

.collapsible {
  cursor: pointer;

  padding: 24px;
  border-radius: 8px;

  width: 100%;

  font-size: 16px;
  text-align: left;
  font-weight: bold;
  color: var(--cor-texto);
}

.active {
  border-radius: 10px 10px 0 0;
}

.collapsible:after {
  content: "\276C";
  rotate: 270deg;

  color: var(--cor-borda);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\276C";
  rotate: 90deg;
}

p {
  padding: 16px;
  text-align: justify;

  color: var(--cor-texto);
}

.collapsible-content {
  width: fit-content;
  max-height: 0;
  border-radius: 0 0 10px 10px;

  overflow: hidden;
  transition: max-height 0.2s ease-out;

  background-color: var(--cor-fundo-conteudo);

  font-size: 15px;
  color: var(--cor-borda);
}

@media screen and (max-width: 768px) {
  .content {
    align-items: center;
  }
}
