.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    background-color: #E8ECEF;
    border-radius: 0;
}

.content > * {
    padding: 16px 24px 0 24px;
    max-width: 940px;
}

.content > .title {
    color: #324B75;
    padding: 16px 24px 0 24px;
    font-size: 40px;
    align-self: center;
    font-weight: 700;
}

.content > .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subtitle {
    text-align: start;
    align-self: start;
    color: #000000;
    font-size: 32px;
    max-width: 500px;
    font-weight: 400;
}

.about > .wrapper-about {
    display: flex;
    justify-content: space-between;
}

.about > .text {
    padding: 8px 0 0 0;
    font-size: 20px;
    font-weight: 400;
}

.text {
    margin: 24px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.8rem;
    color: black;
    text-align: justify;
    overflow-wrap: break-word;
}

.pages {
    display: flex;
    gap: 16px;
    margin: 20px 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
}

.button-pages {
    background-color: #324B75;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
}
.button-pages > a {
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 768px) {

    .content {
        align-items: start;
        display: flex;
    }

    .content > .title {
        padding: 16px 24px 0 32px;
    }

    .content > .section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .content > .section {
        padding: 16px 24px 0 24px;
    }

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 535px) {

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }

    .pages {
        flex-direction: column;
        align-content: flex-start;
    }
}

@media screen and (max-width: 425px) {

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 320px) {

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }

}
