.content {
  background-color: var(--cor-fundo-conteudo);
}

.section-wrapper {
  display: flex;
  flex-direction: column;

  width: 60%;

  gap: 32px;

  margin-bottom: 40px;
}

.title {
  margin-top: 16px;
  padding: 0 16px;
  width: 100%;

  font-size: 40px;
  text-align: center;

  color: var(--cor-titulo);
}

.text {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: var(--cor-texto);
  overflow-wrap: break-word;
}

.subtitle {
  font-size: 32px;
}

.wrapper-about,
.wrapper-pages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 16px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: var(--cor-texto);
  overflow-wrap: break-word;
}

.pages {
  gap: 16px;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  cursor: pointer;
}

.button-pages {
  cursor: pointer;

  border-radius: 8px;

  padding: 8px 16px;

  text-decoration: none;

  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--cor-fundo-conteudo);

  background-color: var(--cor-titulo);
}

@media screen and (max-width: 768px) {
  .section-wrapper {
    width: 80%;

    gap: 16px;
  }

  .button-pages {
    width: 60%;
  }

  .pages {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .section-wrapper {
    width: 100%;
    padding: 24px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 320px) {
}
