.content {
  background-color: var(--cor-fundo-conteudo);
}

.title {
  margin-top: 16px;
  padding: 0 16px;
  width: 100%;

  font-size: 40px;
  text-align: center;

  color: var(--cor-titulo);
}

.filter {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  background: transparent;

  margin: 20px;
}

.filter-wrapper {
  display: flex;
  justify-content: space-around;

  gap: 32px;
  margin-top: 8px;
}

.filterButton {
  width: 100%;

  border-radius: 8px;

  padding: 8px 16px;

  font-size: 16px;

  cursor: pointer;
}

.icon_white {
  width: 30px;
  display: block;
  cursor: pointer;
}

.icon_black {
  width: 30px;
  display: none;
  cursor: pointer;
}

.tasks-wrapper {
  display: flex;
  flex-wrap: wrap;

  justify-items: center;
  justify-content: center;

  align-items: center;

  padding: 0 20px;

  margin-bottom: 40px;

  gap: 40px;

  width: 100%;
}

#loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  margin: -76px 0 0 -76px;
  border: 16px solid var(--cor-fundo);
  border-radius: 50%;
  border-top: 16px solid var(--cor-titulo);
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 99;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  width: 100%;
  height: 100%;

  display: none;
  position: fixed;
  z-index: 9;

  overflow: auto;
}

.modal-wrapper {
  padding: 20px;

  background-color: var(--cor-fundo);
  border: 2px solid var(--cor-borda);

  width: 80%;
  max-width: 660px;

  margin: 6% auto;
  border-radius: 16px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-bottom: 2px solid var(--cor-borda);
}

.close {
  color: var(--cor-borda);

  font-size: 40px;
  font-weight: 700;

  cursor: pointer;
}

.image-modal {
  width: 40px;
  height: 40px;
}

.modal-title {
  font-weight: 700;
  color: var(--cor-borda);
}

.modal-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 16px;
}

.job-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--cor-titulo);
}

.text,
.text-title,
.city,
.address {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: var(--cor-texto);
  overflow-wrap: break-word;
}

.NGO {
  font-size: 20px;
  font-weight: 700;
  text-align: justify;
  color: var(--cor-titulo);
}

.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.loading-background {
  width: 2000px;
  height: 2000px;
  position: fixed;
  background-color: #00000036;
  z-index: 999;
  display: none;
  color: transparent;
}

.tasks-empty {
  display: none;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .tasks-wrapper {
    padding: 15px;
  }

  vertical-task-card-component {
    display: none;
  }

  horizontal-task-card-component {
    padding-bottom: 20px;
  }

  .modal-wrapper {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 880px;
    height: auto;
    margin: 5% auto;
    max-width: 660px;
    border-radius: 15px;
  }

  #loader {
    width: 50px;
    height: 50px;
    margin-left: -50px;
  }

  .text {
    margin: 24px;
    font-size: 15px;
    line-height: 1.25rem;
    color: black;
    text-align: left;
    overflow-wrap: break-word;
  }
}

@media screen and (max-width: 425px) {
  .modal-wrapper {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 2000px;
    height: auto;
    margin: 5% auto;
    max-width: 660px;
    border-radius: 15px;
  }

  .modal-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(230, 234, 246);
    padding: 0px;
  }

  .text {
    margin: 24px;
    font-size: 15px;
    line-height: 1.25rem;
    color: black;
    text-align: left;
    overflow-wrap: break-word;
  }

  .filter-wrapper {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .modal-header {
    padding: 0px;
  }

  .text {
    margin: 24px;
    font-size: 15px;
    line-height: 1.25rem;
    color: black;
    text-align: left;
    overflow-wrap: break-word;
  }
}
